*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
div{
    background-color: rgb(153, 153, 153);
    
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);

    
    
}
h1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem
}
nav ul {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
nav ul li{
    list-style: none;
}
nav ul li a{

    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
}
nav ul li a:hover{
    
    background-color: rgb(85, 83, 83);

}

/* ---------------------------Profile Content -------------------------------- */
#profile{
    
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    color: rgb(0, 0, 0);

}
.profile-left {
    flex: 1;
}

.profile-left h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.profile-left p {
    line-height: 1.6;
    font-size: 16px;
    color: #ffffff;
    font-style: italic;
}

.profile-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.profile-right img {
    width: 400px;
    box-shadow: 0 4px 10px rgba(38, 0, 255, 0.3);
    transition: .3s;
    cursor: pointer;
    border-radius: 50px
}

.profile-right img:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 100);
    border-radius: 50px;
    background: #0077cc;
    transform: scale(1.1);
    transition: all 0.5s;

    
}

 #education {
    padding: 60px 20px;
    background-color: rgb(153, 153, 153);
    color: #ffffff;
    
  }

  #education h2 {
    font-size: 4rem;
    text-align: start;
    margin-bottom: 40px;
    color: #000000;
  }
  div.education-item:hover{
    background-color: rgb(88, 88, 88);


  }
  .education-item {
    
    margin: 0 auto 30px auto;
    padding: 20px;
    background-color:rgb(51, 51, 51);
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  }
  .education-item:hover{
      transform: scale(1.02);
      
  }

  .education-item h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: #000000;
    
  }

  .education-item p {
    margin: 4px 0;
    font-size: 1rem;
  }

  .education-item ul {
    margin-top: 10px;
    padding-left: 20px;
  }

  .education-item ul li {
    list-style-type: disc;
    font-size: 0.95rem;
    margin-bottom: 5px;
  }
 /* services */


#skills {
  display: flex;
  gap: 30px; 
  justify-content: center;
  flex-wrap: wrap;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(51, 51, 51);

}
div.card{
  padding: 100px;
  height: 500px;
  width: 450px;
}


.card {
  width: 250px;
  background-color: rgb(51, 51, 51);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  margin: 10px;

}

.card-header {
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(51, 51, 51);
}

.card-body {
  padding: 15px;
  background-color: rgb(51, 51, 51);
}

.card-body h3 {
  color: rgb(51, 51, 51);
  margin: 10px 0;
  font-size: 16px;
}

.card-body p {
  font-size: 14px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.card {
  width: 250px;
  background-color: rgb(51, 51, 51);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  margin: 10px;

}

body {
  margin: 0;
  padding: 0;
  background-color: #999;
  font-family: Arial, sans-serif;
}
div.project{
  padding: 100px;
  height: 500px;
  width: 400px;

}

.projects-container {
  display: flex;
  flex-direction: row;       
  justify-content: space-evenly;    
  align-items: center;
  flex-wrap: wrap;            
  gap: 100px;              
  min-height: 100vh;
}


.project {
  background-color: rgb(51, 51, 51);
  border-radius: 30px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  color: #fff;
  width: 300px;
  
}

.project h2 {
  margin: 0 0 20px;
  font-size: 10px;
  width: 200px;
  height: 180px;
  margin-right: 10px;
  padding: 10px;

}

.project button {
  background-color: #fff;
  color: #2e2e2e;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease;
}
div.project:hover{
  transform: scale(1.05);
  background-color: rgb(88, 88, 88);
}
.project button:hover {
  background-color: #ddd;
}